<html>
    <head>
    </head>
    <body bgcolor="#e4e7e8">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e4e7e8">
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table width="610" border="6" align="center" cellpadding="0" cellspacing="0" bordercolor="#ebedee">
                    <tr>
                        <td align="center" valign="top" bgcolor="#FFFFFF">
                            <table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
                                <tr>
                                    <td valign="middle">
                                        ${ctx.cmsSlotContents.SiteLogo}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" align="right" valign="middle" bgcolor="#51585c">
                                        <font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.secureBaseUrl}/my-account"><font color="#FFFFFF">My Account</font></a> | <a href="${ctx.baseUrl}/store-finder"><font color="#FFFFFF">Store Finder</font></a> &nbsp;&nbsp;</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>Dear ${ctx.title} ${ctx.displayName}</b>,</font></p>
                                        <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">Thank you for registering with hybris, we hope you&rsquo;ll enjoy shopping with us.</font></p>
                                        <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">Many Thanks </font></p>
                                        <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">Customer Services</font></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" align="right" valign="middle" bgcolor="#51585c">
                                        <font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.baseUrl}"><font color="#FFFFFF">Help</font></a> | <a href="http://www.hybris.com/hybris/en/Contact.html"><font color="#FFFFFF">Contact Us</font></a> | <a href="${ctx.baseUrl}"><font color="#FFFFFF">Terms &amp; Conditions</font></a> &nbsp;&nbsp;</font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>
</html>
